################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.json
*.sqlite
*.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.dll
*.pdb
*.txt
*.cache
/GridFloatReader/Test/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/GridFloatReader/Test/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/GridFloatReader/Test/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/GridFloatReader/Test/obj/Debug/netcoreapp2.1/Test.csproj.CopyComplete
